@model List<Cart>

@if (DateTime.Now.DayOfWeek.ToString() == "Saturday" || DateTime.Now.DayOfWeek.ToString() == "Sunday")
{
<div class="alert alert-danger">
    <span class="font-weight-bold"> Haftasonu Sepette %10 indirim!!</span>
</div>}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Ürün adı</th>
            <th>Adet</th>
            <th>Toplam fiyat</th>
          <th> </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>@item.Product.Name</td>
    <td>
        <form asp-controller="Home" asp-action="QuantityUpdate" method="post">
            <input type="hidden" name="cartId" value="@item.CartId" />
            <input type="hidden" name="productId" value="@item.ProductId" />
            <input type="number" name="quantity" value="@item.Quantity" min="1" class="w-25" />
            <button type="submit" class="btn btn-sm btn-success mr-1">Güncelle</button>
        </form>
    </td>
    <td>@(item.Quantity*item.Product.Price)</td>
    <td>
        <form asp-controller="Home" asp-action="DeleteCartItem" method="post" class="d-inline">
            <input type="hidden" name="cartId" value="@item.CartId" />
            <button type="submit" class="btn btn-sm btn-success mr-1">Sil</button>
        </form>
    </td>
</tr>}
        <tr class="table-secondary font-weight-bold">
            <td colspan="3">
                Genel Toplam
            </td>
            <td>@ViewBag.TotalPrice</td>
        </tr>
    </tbody>
</table>